:root {
    --main-font-family: "Inter", sans-serif;
    --h4-size: 34px;
    --h5-size: 24px;
    --body-regular-size: 16px;
    --link-size-s: 14px;
    --link-size-m: 18px;

    --h1-mobile-size: 34px;

    --bg-grey: #f0f3f4;
    --bg-popup: rgba(50, 37, 94, 0.5);
    --dark-blue: #334875;
    --marquee-light-blue: #aeeeed;
    --text-color-black: #000;
    --text-color-light: #f0f3f4;
    --text-color-red: #f52a3b;

    --input-bg-inactive: #ccd1dc;
    --input-bg-activated: #aeeeed;
    --input-bg-focused: #f2f2f2;
    --input-bg-error: #f2f2f2;
    --input-stroke: #334875;
    --input-bg-hover: #808ca8;
    --input-text: #747474;

    --nav-link-bg: #f0f3f4;
    --nav-link-bg-hover: #001a52;
    --nav-link-stroke: #000;

    --tag-bg: #aeeeed;
    --tag-text: #001a52;
    --tag-bg-hover: #dff8f8;
    --tag-stroke-hover: #334875;
    --tag-bg-selected: #334875;
    --tag-text-selected: #ccd1dc;

    --tab-text: #454545;
    --tab-text-hover: #585858;
    --tab-stroke: 2px solid #001a52;

    --btn-red: #f52a3b;
    --btn-yellow: #fcfa58;
    --btn-blue: #334875;
    --btn-focused: #e0e0e0;
    --btn-text-light: #f2f2f2;
    --btn-primary-stroke: 1px solid var(--btn-red);
    --btn-secondary-stroke: 1px solid #001a52;
    --btn-secondary-fill: #808ca8;

    --banner-bg-green: #c5ebd8;

    --img-upload-blue: #c1cde9;

    --business-card-bg: #ccd1dc;

    --default-img-bg: #808ca8;
    --default-img-text: #334875;

    --carousel-picked-bg: rgba(174, 238, 237, 0.68);
    --carousel-picked-border: 1px solid rgba(53, 212, 209, 0.8);
    --carousel-question-text: #001a52;
    --carousel-unpicked-bg: #bdbdbd;

    --caption-grey: #828282;

    --box-shadow: -4px 4px 7px 0px rgba(0, 26, 82, 0.25);
}

body {
    margin: 0px;
    box-sizing: border-box;
}

main {
    box-sizing: border-box;
    background-color: var(--bg-grey);
    padding: 0 24px;
    width: 100%;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
    font-family: var(--main-font-family);
    font-style: normal;
}

.caption-regular {
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.4px;
    font-size: 12px;
    line-height: 16px;
}

.underline-regular {
    font-weight: 300;
    letter-spacing: 1.5px;
    text-decoration-line: underline;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 16px;
}

.subtitle-regular {
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-size: 16px;
    line-height: 24px;
}

.subtitle-medium {
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-size: 14px;
    line-height: 24px;
}

.body-2 {
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 20px;
}

.body-1 {
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-size: 18px;
    line-height: 24px;
}

.button-large {
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-size: 18px;
}

.button-medium {
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-size: 16px;
}

.link-large {
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.link-medium {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.header-p-text {
    font-size: 17px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 1.328px;
    text-transform: uppercase;
    color: var(--nav-link-bg-hover);
}

.h1-mobile-regular {
    font-size: 34px;
    font-weight: 300;
    line-height: 36px;
}

.h1-mobile-bold {
    font-size: 34px;
    font-weight: 700;
    line-height: 36px;
}

.h2-mobile-bold {
    font-size: 34px;
    font-weight: 700;
    line-height: 36px;
}

.h3-mobile-bold {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.h1-desktop-regular {
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.5px;
}

.h2-desktop-regular {
    font-size: 34px;
    font-weight: 400;
    line-height: 36px;
}

.h2-desktop-bold {
    font-size: 34px;
    font-weight: 700;
    line-height: 36px;
}

.h3-desktop-bold {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.h4-desktop-bold {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.h6-regular {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.h6-italic {
    color: #001a52;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.attention {
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

p {
    margin: 0;
}

a {
    color: #000;
    text-decoration-line: underline;
    text-transform: uppercase;
}

a.small {
    font-size: var(--link-size-s);
    letter-spacing: 1.25px;
}

a.medium {
    font-size: var(--link-size-m);
    letter-spacing: 1.25px;
}

p.h1-mobile {
    font-size: 34px;
    font-weight: 700;
    line-height: 36px;
    padding: 0;
    margin: 0;
}

p.body {
    font-size: var(--body-regular-size);
}

p.h3-bold {
    font-size: var(--h5-size);
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.18px;
}

/* ----------------------------- MISC/BUTTONS ---------------------------- */

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: var(--box-shadow);
    font-family: var(--main-font-family);
    width: fit-content;
}

.btn-s {
    height: 32px;
    padding: 0 24px;
}

.btn-m,
.btn-l {
    height: 48px;
    padding: 24px 24px;
}

.btn-l {
    font-size: 18px;
}

.primary {
    background-color: var(--btn-red);
    color: var(--btn-text-light);
}

.primary:hover {
    background-color: var(--btn-text-light);
    color: var(--btn-red);
}

.secondary {
    background-color: var(--btn-secondary-fill);
    color: var(--text-color-black);
}

.secondary:hover {
    background-color: var(--dark-blue);
    color: var(--btn-text-light);
}

.secondary:active {
    background-color: var(--btn-blue);
}

.primary:active,
.secondary:active {
    box-shadow: none;
}

.btn > a {
    text-decoration: none;
}

.removeMargin {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 0px;
}

.arrow-wrapper {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    align-self: stretch;
}

.arrow-wrapper > svg {
    height: 40px;
    width: 48px;
}

.informational-banner {
    display: flex;
    width: 100%;
    max-width: 1136px;
    padding: 24px;
    gap: 24px;
    flex-direction: column;
    background-color: var(--banner-bg-green);
}

input:active {
    border: 1px solid var(--input-stroke);
    background-color: var(--input-bg-activated);
}

input:focus {
    border: 1px solid var(--input-stroke);
    background-color: var(--in);
}

input:hover {
    background-color: var(--input-bg-hover);
}

.success,
.errors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 773px;
}

.errors {
    color: var(--btn-red);
    gap: 8px;
}

.success {
    gap: 12px;
}

/* ----------------------------- HEADER ---------------------------- */
section.header {
    display: flex;
    width: 100%;
}

.headerWrapper {
    box-sizing: border-box;
    height: 118px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding: 24px; */
    box-sizing: border-box;
    background: #ccd1dc;
    position: relative;
}

.whiteBlankSpace {
    height: 100px;
    width: 50%;
    background: white;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 0px 75px 0px 0px;
}

.lightblueBlankSpace {
    height: 60px;
    width: 80px;
    background: #aeeeedad;
    opacity: 0.68;
    position: absolute;
    right: 20%;
    top: 12.5%;
    z-index: 1;
    border-radius: 1px 30px 1px 30px;
}

.blueBlankSpace {
    height: 100%;
    width: 25%;
    background: var(--dark-blue);
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 50px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerh1 {
    z-index: 1;
}

.headerBranding {
    display: flex;
    align-items: center;
    z-index: 2;
    padding-left: 24px;
    width: 213px;
}

.headerBrandinglogo {
    display: flex;
    align-items: end;
    height: 48.5px;
    flex: 1 0 0;
    flex-direction: row;
}

.headerBranding img {
    height: 50px;
    width: 38px;
    padding-right: 4px;
}

.yrgoTextHeader h2 {
    color: var(--nav-link-bg-hover);
}

.italicHeader {
    font-style: italic;
}

/* ----------------------------- NAV ---------------------------- */

.navWrapper {
    display: flex;
    align-items: flex-start;
    gap: -1px;
    align-self: stretch;
    width: 100%;
}

.navButton {
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    font-family: var(--main-font-family);
    border: 1px solid var(--nav-link-stroke);
    background-color: var(--nav-link-bg);
    text-decoration: none;
}

.navButton.active {
    background-color: var(--text-color-black);
    color: var(--text-color-light);
}

.navButton:hover {
    background-color: var(--nav-link-bg-hover);
    color: var(--bg-grey);
}

/* ----------------------------- FOOTER ---------------------------- */

.footerWrapper {
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    padding: 48px 24px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    background-color: #ffffff;
}

.footerPictures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 58px;
    align-self: stretch;
}

.footerInfo {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.footerInfoYrgored {
    width: 40%;
}

.footerInfoYrgored{
    width: 139px;
    height: 33px;
    background: url('../pictures/yrgored.svg');
}

.gbgstad {
    width: 86px;
    height: 28px;
    flex-shrink: 0;
}

.footerInfo ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: var(--main-font-family);
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
}

.footerInfo ul li {
    font-size: 12px;
}

.footerLinks {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.footerInfoColtwo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    width: 47.5%;
}

.footerPageLinks {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    align-self: stretch;
}

.footerPageLinks a {
    color: black;
    text-underline-offset: 3px;
    font-size: 10px;
}

.footerPageLinks p {
    color: black;
    text-underline-offset: 3px;
    font-size: 10px;
}

@media screen and (min-width: 768px) {
    .informational-banner#info-login {
        margin: 48px 0 0;
    }
}

@media screen and (min-width: 1137px) {
    main{
        padding: 0px 128px;
    }

    .h1-mobile-regular{
        font-size: 60px;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -0.5px;
    }

    .body-2{
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.5px;
        font-size: 18px;
        line-height: 24px;
    }

    .whiteBlankSpace{
        width: 25%;
    }

    .informational-banner {
        border-radius: 30px 30px 0px 30px;
    }

    .results-search-wrapper {
        flex-direction: column-reverse;
        align-items: start;
    }

    /* ----------------- footer desktop ---------- */
    .footerWrapper{
        height: 425px;
        padding: 96px;
        justify-content: center;
        align-items: center;
        gap: 48px;
        flex-direction: row;
    }

    .footerPageLinks{
        flex: 1 0 0;
        justify-content: center;
    }

    .footerInfo{
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .footerPictures{
        display: flex;
        flex: 1 0 0;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 10px;
    }

    .footerInfoYrgored{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 370px;
        height: 67px;
        background: url('../pictures/yrgoredDesktop.svg') no-repeat;
        object-fit: cover;
    }
}
