main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.form-wrapper {
}

.profile-img > img {
    border-radius: 100px 100px 0px 100px;
    height: 167px;
    width: 167px;
}

input[type="file"] {
    display: none;
}

.image-upload {
    display: flex;
    width: 167px;
    height: 167px;
    flex-shrink: 0;
    border-radius: 100px 100px 0px 100px;
    background-color: var(--img-upload-blue);
    background-image: url("../pictures/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

label:focus-within {
    width: 280px;
    height: 48px;
}

label {
    font-family: var(--main-font-family);
    font-size: var(--link-size-m);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.image-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--link-size-m);
    gap: 8px;
    margin-bottom: 64px;
}

.image-input-wrapper > p {
    margin: 0;
    padding: 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    height: 79px;
    align-self: stretch;
    font-size: var(--link-size-m);
    font-family: var(--main-font-family);
    margin-bottom: 32px;
}

.input-group > input[type="text"],
.input-group > input[type="email"] {
    display: flex;
    height: 40px;
    padding: 8px 16px;
    max-width: calc(342px - 48px) !important;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background-color: var(--input-bg-inactive);
    border: none;
    outline: none;
    background-position: 280px 12px;
    background-repeat: no-repeat;
}

input[name="name"] {
    background-image: url("../pictures/icons/suitcase.svg");
}

input[name="contact_name"] {
    background-image: url("../pictures/icons/face.svg");
}

input[name="contact_email"] {
    background-image: url("../pictures/icons/email.svg");
}

input[name="contact_url"] {
    background-image: url("../pictures/icons/link.svg");
}

input[name="contact_LinkedIn"] {
    background-image: url("../pictures/icons/linkedin.svg");
}

.participant-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.minus {
    background-repeat: no-repeat;
    background-image: url("../pictures/icons/minus.svg");
    height: 24px;
    width: 32px;
    background-position: center;
    padding: 8px;
}

.plus {
    background-repeat: no-repeat;
    background-image: url("../pictures/icons/plus-small.svg");
    width: 24px;
    height: 24px;
    background-position: center;
    padding: 8px;
}

.input-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-family: var(--main-font-family);
    font-size: var(--h5-size);
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.18px;
}

input[type="number"] {
    visibility: hidden;
}

#participants {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
}

.questionWrapper{
    display: flex;
    height: 382px;
    width: 100%;
    background: url("../pictures/5snabbaGraphic.svg") no-repeat center center;
    background-size: contain;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    position: relative;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 50px;
    background-color: #FFF;
    border-radius: 25px;
    position: absolute;
    bottom: 40px;
}

.femsnabba{
    display: flex;
    width: 208.478px;
    height: 66.957px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    position: absolute;
    bottom: 100px;

    color: var(--Color-Graphics-Yrgo-red, #F52A3B);
    text-align: center;
    font-size: 21.304px;
    font-weight: 400;
    line-height: 24.348px;
    letter-spacing: 1.902px;
    text-transform: uppercase;
}

.question{
    display: flex;
    width: 100%;
/*     padding: 0px 48px; */
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.cross{
    display: flex;
    width: 100%;
    padding: 0px 24px;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.question label{
    display: flex;
    padding: 0px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}

.question label p{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.answers{
    display: flex;
    width: 298px;
    height: 334px;
    padding: 0px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.answer{
    display: flex;
    padding: 16px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    align-self: stretch;
}

.answerOne{
    border-radius: 64px 64px 0px 64px;
    background: #FFF;

    /* Drop shadow */
    box-shadow: -4px 4px 7px 0px rgba(0, 26, 82, 0.25);
}

.answerTwo{
    border-radius: 64px 64px 64px 0px;
    background: #CCD1DC;

    /* Drop shadow */
    box-shadow: -4px 4px 7px 0px rgba(0, 26, 82, 0.25);
}

.skip{
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 4px;
}

.skip a{
    color: #FFF;
    text-align: center;

    /* underline/regular */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 160% */
    letter-spacing: 1.5px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 37, 94, 0.5); /* Adjust opacity as needed */
    z-index: 999; /* Ensure the overlay is above other content */
}

.popup-content {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio-wrapper {
    display: flex;
    flex-direction: row;
}

.radio-btn-wrapper {
    display: flex;
    flex-direction: row;
}
