.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 48px;
}

.business-card {
    display: flex;
    width: 345px;
    height: 168px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 32px 32px 0px 32px;
    background-color: var(--business-card-bg);
    box-shadow: var(--box-shadow);
}

.business-card > .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
}

.bussiness-card > .profile-img > img {
    width: 126px;
    height: 126px;
    border-radius: 100px 100px 0px 100px;
}

p.company-name {
    font-family: var(--main-font-family);
    font-size: var(--h5-size);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.18px;
    text-transform: none;
}

.business-card > a {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 88.889% */
    letter-spacing: 1.25px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.errors#no-results {
    align-self: flex-start;
}
