/* ----------------------------- SIDA ---------------------------- */

.landingpageWrapper{
    background: var(--Colors-Background-Page-background, #F0F3F4);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: var(--units-8, 96px);
    font-family: "Inter", sans-serif;
}

.welcomeHero{
    display: flex;
    flex-direction: column;
}

.whoIsComingPage{
    display: flex;
    padding: 0px var(--units-4, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--units-5, 32px);
    align-self: stretch;
}

.whereWrapper{
    display: flex;
    padding: 0px var(--units-4, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--units-3, 16px);
    align-self: stretch;
}

.whereWrapper ul{
    list-style-type: none;
}

.weatYrgo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--units-5, 32px);
}

.aboutTitleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--units-5, 32px);
    align-self: stretch;
}

.aboutTextContainer{
    display: flex;
    padding: 0px var(--units-4, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--units-5, 32px);
    align-self: stretch;
}

.LIApicture{
    position: relative;
}

.LIAtextFloating{
    color: var(--color-grey-Background, #F0F3F4);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    position: absolute;
    left: 20px;
    bottom: 22px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.classLink{
    display: flex;
    width: 237px;
    align-items: center;
    gap: 8px;
}

.classLink a:link{
    color: black;
    text-underline-offset: 3px;
}

.classLink a:visited{
    color: black;
    text-underline-offset: 3px;
}

.extraGap{
    width: 100%;
    height: 0px;
}

.Anmalforetag{
    display: inline-flex;
    height: 48px;
    padding: 24px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    background: #F52A3B;
    box-shadow: -4px 4px 7px 0px rgba(0, 26, 82, 0.25);
    color: white;
    font-family: "Inter", sans-serif;

    /* -- large button text -- */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 88.889% */
    letter-spacing: 1.25px;
    text-transform: uppercase;

    position: absolute;
    top: 75%;
    left: 35%;
    z-index: 2;
}

.marquee{
    display: flex;
    overflow: hidden;
    gap: 15px;
    position: relative;
    height: 60px;
    background-color: #AEEEED;
    width: 100%;
}

.marquee-content{
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: 10px;
}

.marquee-content h3{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    text-transform: uppercase;
    color: #000;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 76.19% */
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 15px));
    }
}

.scroll {
    animation: scroll 10s linear infinite;
}