:root {
    --main-font-family: "Inter", sans-serif;
    --h4-size: 34px;
    --h5-size: 24px;
    --link-size-s: 14px;
    --link-size-m: 18px;

    --h1-mobile-size: 34px;

    --bg-grey: #f0f3f4;
    --dark-blue: #334875;
    --marquee-light-blue: #aeeeed;
    --text-color-black: #000;
    --text-color-light: #f0f3f4;

    --input-bg-inactive: #ccd1dc;
    --input-bg-activated: #aeeeed;
    --input-bg-focused: #f2f2f2;
    --input-bg-error: #f2f2f2;
    --input-stroke: #334875;
    --input-hover: #808ca8;

    --nav-link-bg: #f0f3f4;
    --nav-link-bg-hover: #001a52;
    --nav-link-stroke: #000;

    --tag-bg: #aeeeed;
    --tag-text: #001a52;
    --tag-bg-hover: #dff8f8;
    --tag-stroke-hover: #334875;
    --tag-bg-selected: #334875;
    --tag-text-selected: #ccd1dc;

    --btn-red: #f52a3b;
    --btn-yellow: #fcfa58;
    --btn-blue: #334875;
    --btn-focused: #e0e0e0;
    --btn-text-light: #f2f2f2;
    --btn-primary-stroke: 1px solid var(--btn-red);
    --btn-secondary-stroke: 1px solid #001a52;

    --business-card-bg: #ccd1dc;

    --box-shadow: -4px 4px 7px 0px rgba(0, 26, 82, 0.25);
}

/* ----------------------------- SIDA ---------------------------- */

.landingpageWrapper {
    background: var(--bg-grey);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 96px;
    font-family: var(--main-font-family);
}

.welcomePage{
    display: none;
}

.welcomeHero {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-grey);
}

.whoIsComingPage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.whereWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.whereWrapper ul {
    list-style-type: none;
}

.weatYrgo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.aboutTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-right: -24px;
}

.aboutTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.LIApicture {
    position: relative;
    width: 100%;
}

.LIAtextFloating {
    color: var(--text-color-light);
    position: absolute;
    left: 20px;
    bottom: 22px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.classLink {
    display: flex;
    width: 237px;
    align-items: center;
    gap: 8px;
}

.classLink a:link {
    color: black;
    text-underline-offset: 3px;
}

.classLink a:visited {
    color: black;
    text-underline-offset: 3px;
}

.extraGap {
    width: 100%;
    height: 0px;
}

.Anmalforetag {
    position: absolute;
    top: 90%;
    right: 10%;
    z-index: 2;
}

.Anmalforetag > a {
    color: var(--btn-text-light);
}

.marquee {
    display: flex;
    overflow: hidden;
    gap: 15px;
    position: relative;
    height: 40px;
    background-color: #aeeeed;
    width: 100%;

    width: calc(100% + 48px);
    margin-left: -24px;
    margin-right: -24px;
}

.marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: 10px;
    padding: 12px;
    align-items: center;
}

.marquee-content h3 {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    text-transform: uppercase;
    color: #000;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 15px));
    }
}

.scroll {
    animation: scroll 10s linear infinite;
}

.whereTextContent{
    padding: 16px 4px;
}

.kartbild{
    display: flex;
    height: 164px;
    width: 100%;
    background: url('../pictures/kartbild.svg') no-repeat;
}

@media screen and (min-width: 1137px) {
    .welcomeHero{
        display: none;
    }

    .whoIsComingPage{
        display: none;
    }

    .landingpageWrapper{
        flex-direction: column;
        align-items: center;
        gap: 96px;
    }

    .welcomePage{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        padding-top: 25px;
    }

    .whoIsComingPageDesktop{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 48px;
        gap: 32px;
        align-self: stretch;
    }

    .Anmalforetag{
        top: 85%;

    }

    .marquee{
        width: calc(100% + 256px);
        height: 103px;
    }

    .whereWrapper{
        gap: 24px;
        flex-direction: row;
    }

    .whereWrapper img{
        display: flex;
        width: 580px;
        height: 164px;
        object-fit: contain;
    }

    .whereTextContent{
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 16px;
        padding: 0px;
    }

    .kartbild{
        display: flex;
        height: 164px;
        width: 50%;
        background: url('../pictures/kartbildDesktop.svg') no-repeat;
        object-fit:contain;
    }

    .LIApicture img{
        height: 323px;
        object-fit: cover;
        object-position:0px -53px;
    }

    .aboutTitleContainer{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .aboutTextContainer .body-2desktop{
        width: 50%;
    }
}
