:root {
    --main-font-family: "Inter", sans-serif;

    --yrgo-red: #f52a3b;
}

.navWrapper {
    height: 400px;
    width: 115%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navButton {
    width: 50%;
    height: 100%;
}
